
name: deploy

on:
  repository_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.SUBSCRIPTION_ID }}
          resourceGroupName: rg-gitops-demo
          template: ./aks/deploy.json
          parameters: ./aks/deployparams.json

      - uses: azure/setup-kubectl@v1
        with:
          version: 'v1.18.8'

      - name: Azure CLI script
        uses: azure/CLI@v1
        with:
          azcliversion: 2.16.0
          inlineScript: |
            jq
            export GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
            az aks get-credentials -g rg-gitops-demo -n clu-gitops --admin
            msi="$(az aks show -n clu-gitops -g rg-gitops-demo | jq .identityProfile.kubeletidentity.objectId -r)"
            az keyvault set-policy --name gebakv --object-id $msi --secret-permissions get
            curl -s https://toolkit.fluxcd.io/install.sh | sudo bash
            flux bootstrap github --owner=gbaeke --repository=k8s-bootstrap --branch=main --path=demo-cluster --personal